.navHeader {
  display: flex;
  align-items: center;
  background-color: #001529;
  height: 80px;
}
.navHeader img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}
.navHeader h1 {
  margin: 0;
  font-size: 20px;
  color: white;
}
